//@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../../node_modules/gentelella/documentation/css/animate.min";
@import "../../../node_modules/gentelella/src/scss/custom";
@import "../../../node_modules/font-awesome/scss/font-awesome";
@import "../../../node_modules/nprogress/nprogress";

#message-list {
  border: 1px solid #777;
  height: 400px;
  padding: 10px;
  overflow: scroll;
  margin-bottom: 50px;
}
